<div class="container flex-column d-flex justify-content-center ">
    
    <div class="cont m-2 text-center">
        <a routerLink="/inicio" class="btn btn-primary">Inicio</a>
        <h2>{{title}}</h2>
    </div>

    <div class="cont">
        <div class="col">
            <h3>{{titulo}}</h3>
        </div>
        <hr/>
        <!--
            Creamos un formulario con inputs para ingresar datos, los cuales usando ngModel los llevamos a sus respectivas variables.
        -->
        <form class="form mb-3">
            <div class="form-group col-md-3 mb-2">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre" placeholder="Nombre"
                    class="form-control" [(ngModel)]="nombreInput">
            </div>

            <div class="form-group col-md-3 mb-2">
                <label for="apellido">Apellido</label>
                <input type="text" name="apellido" id="apellido" placeholder="Apellido"
                    class="form-control" [(ngModel)]="apellidoInput">
            </div>

            <button type="submit" class="btn btn-primary" (click)="agregarPersona()">
                Agregar
            </button>
        </form>
    </div>

    <div class="row">
        <hr>
        <div class="col">
            <div class="" *ngFor="let persona of personas; let i = index">
                <p>{{i + 1}} {{persona.nombre}} {{persona.apellido}}</p>
            </div>
        </div>
    </div>

</div>

<!--
    En el ngFor, creamos una varible (en este caso persona), y con of, le decimos que queremos iterar (en este caso el array personas).
    Luego con interpolación llamamos a cada valor del objeto para que se muestre.
    Tambien luego de llamar al objeto, podemos crear una variable para que recorra, en este caso i, la cual le asignamos index (una propiedad de ngFor), por lo tanto cada elemento que se vaya recorriendo, este va a incrementar e ir guardándose en i.
    Luego con interpolacion lo mostramos, y le sumamos 1 ya que los arrays comienzan en 0.
-->