<div class="container flex-column d-flex justify-content-center ">
    
    <div class="cont m-2 text-center">
        <a routerLink="/inicio" class="btn btn-primary">Inicio</a>
        <h2>{{title}}</h2>
    </div>

    <div class="row m-3 text-start">
        <div class="col">
            <h1>Listado de personas</h1>

            <button class="btn btn-primary" [disabled]="deshabilitar">Agregar persona</button>
        </div>
    </div>

</div>

<!--
    Le asigno la variable deshabilitar a disabled
-->